:root {
    --Roboto : "Roboto" , sans-serif;
    --Rubik : "Rubik"  , sans-serif;
    --Orange : #FB6D45;
    --blueCategory: #473BF0;
    --mainColor: #161C2D;
    --mainTextColor: #161C2D;
    --greenText: #68D585;
    --purpleText: #473BF0;
    --redText: #F64B4B;
    --helpsBg: #F4F7FA;
    --borderColor: #E7E9ED;
}